* {
  box-sizing: border-box;
  /* для правильного подсчета высоты и ширины объектов */
}
body {
  font-family: 'Mulish', sans-serif;
}
a {
  text-decoration: none;
}

/* убираем крестик при клике на input */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
.container {
  margin-bottom: 100px;
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;

  display: flex;
  align-items: center;
  margin-bottom: 30px;
  /* выравнивание элементов по вертикали относительно друг друга */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 99;
}
.menu-button {
  padding: 0;
  margin-right: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 20px;
  height: 17px;

  background-color: #fff;
  border: none;

  cursor: pointer;
}

.menu-line {
  width: 20px;
  height: 3px;
  display: block;
  background: #1f2022;
  border-radius: 20px;
}

.logo {
  margin-right: 60px;
}
.input-group {
  background: #ebebeb;
  border-radius: 22px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;

  max-width: 830px;
  width: 50%;
  margin-right: 40px;
}

.input-search {
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;
  outline: none;
}

.button-search {
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.icon-search {
  fill: #000;
}

.icon-group {
  opacity: 0.24;
}
.icon-group:hover {
  fill: #ff0000;
  opacity: 0.8;
}

.icons-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icon-link:not(:last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}

.nav-item {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  /* чтобы иконка выравнивалась относительно текста посередине */
}
.nav-text {
  margin-left: 13px;
  color: #898989;
}
.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  /* чтобы иконка выравнивалась относительно текста посередине */
}

.nav-link:hover .icon-group {
  fill: #ff0000;
  opacity: 0.8;
}
.nav-link:hover .nav-text {
  color: #ff0000;
  font-weight: bold;
}
.nav-img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.nav-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #000000;
  margin-bottom: 30px;
}
.sidebar {
  position: fixed;
  top: 114px;
  left: 0px;
  padding-left: 32px;
  height: calc(100% - 114px);
  width: 200px;
  overflow-y: auto;
  background-color: #fff;
}

/* кастомизация полосы прокрутки */
.sidebar::-webkit-scrollbar-track {
  border-radius: 4px;
}
.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #f0f2f5;
}
.sidebar:hover::-webkit-scrollbar-thumb {
  background: #b4b4b4;
}

.content {
  width: 100%;
  margin-top: 85px;
  padding-right: 70px;
  padding-left: 250px;
  padding-top: 30px;
}

.channel-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202c;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  line-height: 100%;
  margin-bottom: 30px;
}
.channel-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.channel-text {
  margin-left: 20px;
}

.video-thumb {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
  margin-bottom: 10px;
}
.video-thumb-recommended {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
  margin-bottom: 10px;
}
.thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.thumbnail-recommended {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 12px;
  mix-blend-mode: normal;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 3px 9px;
  font-size: 14px;
  line-height: 18px;
}

.video-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: #19202c;
  margin-top: 1px;
  margin-bottom: 4px;
}

.video-info {
  display: flex;
  font-size: 13px;
  line-height: 16px;

  color: #c2c2c2;
  align-items: center;
  justify-content: space-between;
}

.recommended-video-info {
  margin-left: 20px;
  font-weight: 200;
}

/* .video-card {
  width: 250px;
}
.video-card-recommended {
  width: 540px;
} */
.video-counter {
  display: flex;
}
.video-views {
  margin-right: 5px;
}

.video-views::after {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.channel {
  position: relative;
  margin-bottom: 50px;
}
.channel-button {
  cursor: pointer;
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
  position: absolute;
  right: 8%;
  top: 0;
}
.mobile-sidebar {
  display: none;
}

.mobile-search {
  display: none;
}

@media (max-width: 860px) {
  .icons-container {
    display: none;
  }
  .user {
    margin-left: auto;
  }
}
@media (max-width: 640px) {
  .menu-button {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .content {
    padding-left: 32px;
  }

  .mobile-sidebar {
    display: block;
    position: fixed;
    z-index: 99;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
  }

  .mobile-sidebar .nav-link {
    display: flex;
    flex-direction: column;
  }
  .nav-text {
    margin-left: 0;
  }
  .mobile-sidebar .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    padding-top: 13px;
    padding-bottom: 13px;

    border-top: 1px solid #f1f1f1;
  }
  .nav-item {
    margin-bottom: 0;
  }

  .mobile-search {
    display: block;
    margin-left: auto;
  }
  .input-group {
    position: fixed;
    top: -100px;
    left: 0;
    opacity: 0;
    width: 90%;
    margin-left: 25px;
    transition: top 0.2s;
  }

  .input-group.is-open {
    opacity: 1;
    top: 20px;
  }
  .user {
    margin-left: 25px;
  }

  .slider-buttons {
    display: none;
  }

  .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }
  .swiper-slide {
    margin-bottom: 40px;
  }

  .video-thumb {
    height: 300px;
  }
  .thumbnail {
    height: 300px;
  }
}
